HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# ========================
# ☕ Java / Gradle 관련
# ========================
*.class
*.log
.gradle/

# ========================
# 🧠  IntelliJ IDEA / IDE 관련
# ========================
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# ========================
# 📦 패키징 파일
# ========================
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# ========================
# 👨🏻‍💻 MAC 관련
# ========================
.DS_Store


# ========================
# 🐳 Docker / Compose
# ========================
.data/

# ========================
# 🔐 환경 변수 파일
# ========================
.env
deploy/env/.env.*
!deploy/env/.env.*.example

# ========================
# 🔐 인증키
# ========================
*.xlsx
